In [16]:
import pandas as pd
import numpy as np

In [17]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [18]:
train_and_test = [train, test]

In [19]:
for dataset in train_and_test:
    dataset['Ticket_Code'] = dataset.Ticket.str.extract('([0-9]{2})')

In [20]:
for dataset in train_and_test:
    dataset['Last Name'] = dataset.Name.str.extract('([A-Za-z]+)\,')

In [21]:
for dataset in train_and_test:
    dataset['Title'] = dataset.Name.str.extract('([A-Za-z]+)\.')

In [22]:
for dataset in train_and_test:
    dataset['Cabin_Code'] = dataset.Cabin.str.extract('([A-Z])')

In [23]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_Code,Last Name,Title,Cabin_Code
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,21,Braund,Mr,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,17,Cumings,Mrs,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,31,Heikkinen,Miss,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,11,Futrelle,Mrs,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,37,Allen,Mr,NaN

In [24]:
train.to_csv('EDAtrain.csv',index=False)
test.to_csv('EDAtest.csv',index=False)